.footer {
  width: 100%;
  background-color: #232f3e;
  color: white;
  font-size: 0.9rem;
  margin-top: 40px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
