

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7f9fc;
}

.page-title {
  text-align: center;
  margin-top: 40px;
  color: #333;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 24px; 
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%;
}


